<div class="chat chat-start">
  <div class="chat-bubble">
    Hey, this is <b class="text-green-500"><%= @user.username %></b> account page, <br/>
    My email is <b class="text-green-500"><%= @user.email %></b>
  </div>
</div>
